/* CSS for your imitation here */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2em;
  background-color: blanchedalmond;
}

header {
  display: grid;
}

.main-imitation {
  max-width: 630px;
  max-height: 708px;
  padding: 1em;
  background-color: white;
}

@font-face {
  font-family: CloisterBlack;
  src: url(CloisterBlackLight.ttf);
}

h1 {
  font-family: CloisterBlack;
}

p {
  font-family: serif;
}

.attrib {
  text-align: center;
}

.grid00 {
  grid-column: 1/3;
  grid-row: 1;
}
.grid01 {
  grid-column: 4;
  grid-row: 1;
}
.grid10 {
  grid-column: 1/3;
  grid-row: 2;
}
.grid11 {
  grid-column: 4;
  grid-row: 2;
}
