/* Code for all screen sizes */

* {
  flex-wrap: wrap;
}

@font-face {
  font-family: CloisterBlack;
  src: url(CloisterBlackLight.ttf);
}

header > * {
  text-align: start !important;
}

h1,
h2 {
  font-family: CloisterBlack;
  color: black;
}

p,
figcaption {
  font-family: serif;
  font-size: 10px;
  /* text-align: center; */
}

details > summary:hover {
  cursor: pointer;
}

details > summary {
  transition: all 1s ease-in-out;
  font-family: CloisterBlack;
  color: black;
  font-size: 16px;
  background-color: none;
}

.sec-grid {
  display: flex;
  /* grid-auto-flow: column; */
}
img {
  display: block;
  margin: auto;
}
p,
figcaption {
  text-align: center;
}

details > section {
  transition: all 1s ease-in-out;
  opacity: 0;
  overflow: hidden;
  height: 0;
  background-color: none;
}
details[open] > section {
  transition: all 1s ease-in-out;
  opacity: 1;
  height: auto;
  background-color: lightgray;
}

details[open] > summary {
  background-color: lightslategray;
  font-size: 26px;
}

details {
  text-align: center;
}
